*{
    box-sizing: border-box;
}

body{
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-color:  rgba(0, 0, 0, 0.2);
}

#container{
    display: flex;
    align-items: center;
    position: absolute;
    width: 70%;
    padding-left: 8em;
}
#block{
    flex: 3;
    display: flex;
    background-color: whitesmoke;
    justify-content: space-around;
    width: 20%;
    height: 10em;
    margin: 1em;
   
}

button{
    border: 0.1em solid;
    border-radius: 0.5em;
    padding: 2%;
    align-self: center;
    color: white;
    cursor: pointer;
}

.green{
    background-color: green;
}

.red{
    background-color: red;
}   

.yellow{
    background-color: yellow;
} 

.blue{
    background-color: blue;
}

#gener{
    flex: 1;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
   }


p {
    -webkit-animation-name: p;
    animation-name: p;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    border: 0.1em solid;
    border-radius: 0.5em;
    align-self: center;
    color: white;
    width: 80%;
    height: 10%;
    }
    
    @-webkit-keyframes p {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }

    @keyframes p {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    } 

  
      
       
    

